<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628657338913-cvh8q1qq9keo9tmdkhocrpas14arksf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628657338913-cvh8q1qq9keo9tmdkhocrpas14arksf0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628657338913-ckvinhr4bh91fbg2menkeon8302aco2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_DB-gWImhSOEHn1m_U9rbe7TNttKQwds</string>
	<key>GCM_SENDER_ID</key>
	<string>628657338913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spent</string>
	<key>PROJECT_ID</key>
	<string>spent-293011</string>
	<key>STORAGE_BUCKET</key>
	<string>spent-293011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628657338913:ios:d4c96792bce64279a58160</string>
	<key>DATABASE_URL</key>
	<string>https://spent-293011.firebaseio.com</string>
</dict>
</plist>